.listItem {
  background-color: var(--item_grey);
  height: 50px;
  border-radius: 25px;
  margin-top: 10px;
  box-sizing: border-box;
  padding: 0 10px 0 28px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.listItem input {
  background-color: transparent;
  border: 0;
  font-size: 16px;
  font-weight: 600;
  flex-grow: 1;
  cursor: pointer;
  color: var(--font_grey);
}

.listItem input:focus {
  outline: 0;
  border-bottom: 2px solid var(--main_green);
  margin-right: 20px;
}

.deleteIcon {
  cursor: pointer;
  font-size: 15px;
  margin-right: 20px;
}

.completeIcon,
.completedIcon {
  cursor: pointer;
  font-size: 20px;
  padding: 0;
  outline: none;
  color: var(--check_grey);
}

.completeIcon:hover {
  color: var(--check_yellow);
  opacity: 0.5;
}

.completedIcon {
  color: var(--check_yellow);
}