.listItem {
  background-color: var(--item_grey);
  height: 44px;
  border-radius: 22px;
  margin-top: 10px;
  box-sizing: border-box;
  padding: 0 10px 0 28px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.listItem input {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  background-color: transparent;
  border: 0;
  font-size: 16px;
  font-weight: 600;
  flex-grow: 1;
  cursor: pointer;
  color: var(--font_grey);
  padding: 10px 0;
}

.listItem input:focus {
  outline: 0;
  border-bottom: 2px solid var(--main_green);
  padding: 0;
}

.deleteIcon {
  display: block;
  cursor: pointer;
  font-size: 15px;
  padding-right: 4px;
  margin-left: 24px;
  outline: none;
  color: var(--font_grey);
}

.hiddenDeleteIcon {
  display: none;
}

.completeIcon,
.completedIcon {
  cursor: pointer;
  font-size: 20px;
  padding: 0;
  outline: none;
  color: var(--check_grey);
}

.completeIcon:hover {
  color: var(--check_yellow);
  opacity: 0.5;
}

.completedIcon {
  color: var(--check_yellow);
}