.listElements {
    width: 100%;
}

.newItem input,
.newItem button[type=submit] {
    background-color: transparent;
    outline: none;
    border: none;
}

.newItem input {
    border-bottom: 2px solid var(--main_green);
    font-size: 12px;
    font-weight: 700;
    flex-grow: 1;
    margin-right: 20px;
}

.newItem input:focus {
    color: var(--font_grey);
}

.newItemIcon {
    font-size: 20px;
    color: var(--main_green);
}
