body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --item_grey: #F8F8F8;
  --font_grey: #5B5B5B;
  --main_green: #8AB661;
}

#wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 26px 0;
  background-color: #FFFFFF;
  border-radius: 33px;
  margin: -30px auto 65px auto;
}

#listSelector {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #FFFFFF;
  box-sizing: border-box;
  padding: 8px 26px;
  box-shadow: 0px -5px 10px #0000000A;
}

ul, li {
  list-style: none;
  padding-inline-start: 0px;
}