body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --item_grey: #F8F8F8;
  --font_grey: #5B5B5B;
  --main_green: #8AB661;
}

h1, h2 {
  text-align: center;
}

#wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 26px;
}

ul, li {
  list-style: none;
  padding-inline-start: 0px;
}